body {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  border: 2px solid black;
  font-family: bungee, roboto condensed, impact, arial;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.header-left {
  display: flex;
  align-items: baseline;
}

.horizontal-logo {
  width: 280px;
  height: auto;
  overflow: ;
}

.header-right {
  display: flex;
  align-items: flex-end;
}
