/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    width: 100vw;
    height: 80px;
    padding-bottom: 0.5em;
    background-color: white;
  }

  .header-logo {
    display: flex;
    align-items: flex-end;
  }

  .desktop-logo {
    height: 3.5rem;
    align-items: flex-end;
    margin-left: 1rem;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
  }

  .hamburger-icon {
    display: none;
  }

  .a-header {
    font-family: Jost;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
  }

  .a-header:hover {
    color: rgb(56 181 255);
  }
}

/* .dropdown-container-schools {
    cursor: pointer;
    position: absolute;
  }

  .dropdown-contents-schools {
    display: none;
    background-color: lightblue;
    height: 100px;
    width: 100px;
  }

  .show {
    display: block;
  }
} */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    width: 100vw;
    height: 80px;
    padding-bottom: 0.5em;
    background-color: white;
  }

  .header-logo {
    display: flex;
    align-items: flex-end;
  }

  .desktop-logo {
    height: 3.5rem;
    align-items: flex-end;
    margin-left: 1rem;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
  }

  .hamburger-icon {
    display: none;
  }

  .a-header {
    font-family: Jost;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
  }

  .a-header:hover {
    color: rgb(56 181 255);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    width: 100vw;
    height: 80px;
    padding-bottom: 0.5em;
    background-color: white;
  }

  .header-logo {
    display: flex;
    align-items: flex-end;
    margin-top: 0.875em;
  }

  .desktop-logo {
    height: 3.5rem;
    align-items: center;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
  }

  .hamburger-icon {
    display: none;
    height: 24px;
    align-items: flex-end;
    margin-bottom: 1.1em;
    margin-right: 1em;
  }

  .a-header {
    font-family: Jost;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
  }

  .a-header:hover {
    color: rgb(56 181 255);
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    width: 100vw;
    height: 80px;
    padding-bottom: 0.5em;
    background-color: white;
  }

  .header-logo {
    display: flex;
    align-items: center;
    margin-top: 0.875em;
  }

  .desktop-logo {
    height: 3.5rem;
    align-items: center;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
  }

  .hamburger-icon {
    display: none;
    height: 24px;
    align-items: flex-end;
    margin-bottom: 1.1em;
    margin-right: 1em;
  }

  .a-header {
    font-family: Jost;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
  }

  .a-header:hover {
    color: rgb(56 181 255);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    width: 100vw;
    height: 80px;
    padding-bottom: 0.5em;
    background-color: white;
  }

  .header-logo {
    display: flex;
    align-items: center;
    margin-top: 0.875em;
  }

  .desktop-logo {
    height: 3.5rem;
    align-items: center;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
  }

  .hamburger-icon {
    height: 24px;
    align-items: flex-end;
    margin-bottom: 1.1em;
    margin-right: 1em;
  }

  .a-header {
    display: none;
    font-family: Jost;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
  }

  .a-header:hover {
    color: rgb(56 181 255);
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width: 480px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    width: 100vw;
    height: 80px;
    padding-bottom: 0.5em;
    background-color: white;
  }

  .header-logo {
    display: flex;
    align-items: center;
    margin-top: 0.875em;
  }

  .desktop-logo {
    height: 3.5rem;
    align-items: center;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
  }

  .hamburger-icon {
    height: 24px;
    align-items: flex-end;
    margin-bottom: 1.1em;
    margin-right: 1em;
  }

  .a-header {
    display: none;
    font-family: Jost;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
  }

  .a-header:hover {
    color: rgb(56 181 255);
  }
}
