/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body {
    box-sizing: border-box;
    background-color: rgb(56 181 255);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  margin-top: 8em;
  font-size: 2.2rem;
  padding: 1em 3em;
  border: 5px solid black;
  background-color: white;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    box-sizing: border-box;
    background-color: rgb(56 181 255);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  margin-top: 8em;
  font-size: 2.2rem;
  padding: 1em 3em;
  border: 5px solid black;
  background-color: white;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    box-sizing: border-box;
    background-color: rgb(56 181 255);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  margin-top: 8em;
  font-size: 2.2rem;
  padding: 1em 3em;
  border: 5px solid black;
  background-color: white;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    box-sizing: border-box;
    background-color: rgb(56 181 255);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  margin-top: 8em;
  font-size: 2.2rem;
  padding: 1em 3em;
  border: 5px solid black;
  background-color: white;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  body {
    box-sizing: border-box;
    background-color: rgb(56 181 255);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  margin-top: 8em;
  font-size: 2.2rem;
  padding: 1em 3em;
  border: 5px solid black;
  background-color: white;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body {
    box-sizing: border-box;
    background-color: rgb(56 181 255);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome {
  margin-top: 8em;
  font-size: 2.2rem;
  padding: 1em 3em;
  border: 5px solid black;
  background-color: white;
}
