* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
}

.logo {
  display: flex;
  flex: -1;
  justify-content: center;
  max-height: 100%;
  margin-left: 40px;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  flex: 1;
}

.horizontal-logo {
  flex: 1;
  height: 100px;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 70px;
  margin-right: 30px;
}

nav a {
  margin-left: 20px;
  font-family: bungee;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #008a97;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-color: #333;
}

.main-container {
  display: flex;
  max-width: 1200px;
  height: 993px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.main-left {
  display: flex;
  height: 800px;
  width: 300px;
  background-color: burlywood;
}

.main-middle {
  display: flex;
  height: 800px;
  width: 600px;
  background-color: chartreuse;
}

.main-right {
  display: flex;
  height: 800px;
  width: 300px;
  background-color: deeppink;
}

footer {
  width: 100%;
  background-color: #333; /* Dark background for contrast */
  color: white;
  padding: 20px 0;
}

.footer-content {
  background-color: #333;
  border-top: 5px solid red;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center-align content for a balanced look */
}
