/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: #008a97;
  }

  .title {
    text-align: center;
    font-family: bungee;
    font-size: 2rem;
    color: rgb(51, 0, 128);
  }

  .subtitle {
    text-align: center;
    font-family: bungee;
    font-size: 1.5rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .boys-basketball,
  .girls-basketball {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(219, 223, 233);
    padding: 1.5em 3em;
    border: 5px solid black;
    border-radius: 5px;
    margin-right: 2em;
    font-family: roboto condensed;
  }

  .jv-box,
  .varsity-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-size: 1.1rem;
    width: 100%;
    padding: 1em;
    border: 5px solid black;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .jv-box:hover,
  .varsity-box:hover {
    background-color: rgb(148, 72, 255);
  }

  .team-links {
    margin-top: 1em;
    font-size: 1em;
  }

  .team-links:hover {
    color: white;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #008a97;
}

.title {
}

.subtitle {
}

.container {
}

.boys-basketball,
.girls-basketball {
}

.jv-box,
.varsity-box {
}

.jv-box:hover,
.varsity-box:hover {
}

.team-links {
}

.team-links:hover {
}
