/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(56 181 255);
    font-size: 1.125 rem;
    line-height: 1.6;
    font-family: Jost;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    max-width: 35%;
    margin-top: 70px;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
  }

  .school-links-container {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  .ctms:hover {
    color: rgb(112, 0, 218);
  }

  .hfms:hover {
    color: rgb(12, 52, 255);
  }

  .sms:hover {
    color: rgb(218, 0, 0);
  }

  .wms:hover {
    color: rgb(243, 91, 21);
  }

  .hms:hover {
    color: rgb(15, 0, 130);
  }

  .north:hover {
    color: rgb(12, 52, 255);
  }

  .mrms:hover {
    color: rgb(4, 204, 47);
  }

  .mms:hover {
    color: rgb(19, 125, 56);
  }

  .south:hover {
    color: rgb(152, 152, 152);
  }

  .smms:hover {
    color: rgb(218, 0, 0);
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(56 181 255);
    font-size: 1.125 rem;
    line-height: 1.6;
    font-family: Jost;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 35%;
    margin-top: 70px;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
  }

  .school-links-container {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  .ctms:hover {
    color: rgb(112, 0, 218);
  }

  .hfms:hover {
    color: rgb(12, 52, 255);
  }

  .sms:hover {
    color: rgb(218, 0, 0);
  }

  .wms:hover {
    color: rgb(243, 91, 21);
  }

  .hms:hover {
    color: rgb(15, 0, 130);
  }

  .north:hover {
    color: rgb(12, 52, 255);
  }

  .mrms:hover {
    color: rgb(4, 204, 47);
  }

  .mms:hover {
    color: rgb(19, 125, 56);
  }

  .south:hover {
    color: rgb(152, 152, 152);
  }

  .smms:hover {
    color: rgb(218, 0, 0);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(56 181 255);
    font-size: 1.125 rem;
    line-height: 1.6;
    font-family: Jost;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 35%;
    margin-top: 70px;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
  }

  .school-links-container {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  .ctms:hover {
    color: rgb(112, 0, 218);
  }

  .hfms:hover {
    color: rgb(12, 52, 255);
  }

  .sms:hover {
    color: rgb(218, 0, 0);
  }

  .wms:hover {
    color: rgb(243, 91, 21);
  }

  .hms:hover {
    color: rgb(15, 0, 130);
  }

  .north:hover {
    color: rgb(12, 52, 255);
  }

  .mrms:hover {
    color: rgb(4, 204, 47);
  }

  .mms:hover {
    color: rgb(19, 125, 56);
  }

  .south:hover {
    color: rgb(152, 152, 152);
  }

  .smms:hover {
    color: rgb(218, 0, 0);
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(56 181 255);
    font-size: 1.125 rem;
    line-height: 1.6;
    font-family: Jost;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 35%;
    margin-top: 70px;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
  }

  .school-links-container {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  .ctms:hover {
    color: rgb(112, 0, 218);
  }

  .hfms:hover {
    color: rgb(12, 52, 255);
  }

  .sms:hover {
    color: rgb(218, 0, 0);
  }

  .wms:hover {
    color: rgb(243, 91, 21);
  }

  .hms:hover {
    color: rgb(15, 0, 130);
  }

  .north:hover {
    color: rgb(12, 52, 255);
  }

  .mrms:hover {
    color: rgb(4, 204, 47);
  }

  .mms:hover {
    color: rgb(19, 125, 56);
  }

  .south:hover {
    color: rgb(152, 152, 152);
  }

  .smms:hover {
    color: rgb(218, 0, 0);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(56 181 255);
    font-size: 1.125 rem;
    line-height: 1.6;
    font-family: Jost;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 35%;
    margin-top: 70px;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
  }

  .school-links-container {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  .ctms:hover {
    color: rgb(112, 0, 218);
  }

  .hfms:hover {
    color: rgb(12, 52, 255);
  }

  .sms:hover {
    color: rgb(218, 0, 0);
  }

  .wms:hover {
    color: rgb(243, 91, 21);
  }

  .hms:hover {
    color: rgb(15, 0, 130);
  }

  .north:hover {
    color: rgb(12, 52, 255);
  }

  .mrms:hover {
    color: rgb(4, 204, 47);
  }

  .mms:hover {
    color: rgb(19, 125, 56);
  }

  .south:hover {
    color: rgb(152, 152, 152);
  }

  .smms:hover {
    color: rgb(218, 0, 0);
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(56 181 255);
    font-size: 1.125 rem;
    line-height: 1.6;
    font-family: Jost;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 35%;
    margin-top: 70px;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
  }

  .school-links-container {
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  .ctms:hover {
    color: rgb(112, 0, 218);
  }

  .hfms:hover {
    color: rgb(12, 52, 255);
  }

  .sms:hover {
    color: rgb(218, 0, 0);
  }

  .wms:hover {
    color: rgb(243, 91, 21);
  }

  .hms:hover {
    color: rgb(15, 0, 130);
  }

  .north:hover {
    color: rgb(12, 52, 255);
  }

  .mrms:hover {
    color: rgb(4, 204, 47);
  }

  .mms:hover {
    color: rgb(19, 125, 56);
  }

  .south:hover {
    color: rgb(152, 152, 152);
  }

  .smms:hover {
    color: rgb(218, 0, 0);
  }
}
