* {
  box-sizing: border-box;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .ctms-body {
    box-sizing: border-box;
    background-color: rgb(74, 3, 168);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hfms-body {
    box-sizing: border-box;
    background-color: rgb(0, 39, 212);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .sms-body {
    box-sizing: border-box;
    background-color: rgb(223, 1, 1);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .wms-body {
    box-sizing: border-box;
    background-color: navy;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hms-body {
    box-sizing: border-box;
    background-color: navy;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .north-body {
    box-sizing: border-box;
    background-color: rgb(0, 39, 212);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mrms-body {
    box-sizing: border-box;
    background-color: rgb(0, 171, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mms-body {
    box-sizing: border-box;
    background-color: green;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .south-body {
    box-sizing: border-box;
    background-color: rgb(120, 120, 120);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .smms-body {
    box-sizing: border-box;
    background-color: rgb(198, 0, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .ctms-title-container {
    display: flex;
    color: rgb(64, 0, 128);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 221, 255);
  }

  .hfms-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .sms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .wms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .hms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .north-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .mrms-title-container {
    display: flex;
    color: rgb(0, 160, 27);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 220);
  }

  .mms-title-container {
    display: flex;
    color: green;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 226);
  }

  .south-title-container {
    display: flex;
    color: black;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
  }

  .smms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .title-logo {
    display: flex;
    margin-right: 1rem;
  }

  .title-logo-image {
    width: 100px;
    margin: auto;
  }

  .title-words-container {
    display: flex;
    justify-content: center;
  }

  .title-words {
    font-size: 3.5rem;
  }

  .ctms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(74, 3, 168);
  }

  .hfms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .sms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(223, 1, 1);
  }

  .wms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .hms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .north-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .mrms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 171, 0);
  }

  .mms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: green;
  }

  .south-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(120, 120, 120);
  }

  .smms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(198, 0, 0);
  }

  .team-box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    background-color: white;
    font-family: bungee;
    border: 5px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
    margin-right: 3em;
  }

  .team-title {
    font-family: bungee;

    justify-content: center;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
  }

  .team-links {
    display: flex;
    flex-direction: column;
  }

  .ctms-varsity-links,
  .ctms-jv-links {
    color: rgb(140, 0, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hfms-varsity-links,
  .hfms-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .sms-varsity-links,
  .sms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .wms-varsity-links,
  .wms-jv-links {
    color: rgb(246, 111, 0);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hms-varsity-links,
  .hms-jv-links {
    color: rgb(182, 170, 58);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .north-varsity-links,
  .north-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mrms-varsity-links,
  .mrms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mms-varsity-links,
  .mms-jv-links {
    color: rgb(239, 27, 27);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .south-varsity-links,
  .south-jv-links {
    color: rgb(163, 163, 163);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .smms-varsity-links,
  .smms-jv-links {
    color: navy;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }

  .schedule-link,
  .ranking-link {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 1.3rem;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .schedule-link:hover,
  .ranking-link:hover {
    background-color: rgb(56 181 255);
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .ctms-body {
    box-sizing: border-box;
    background-color: rgb(74, 3, 168);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hfms-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .sms-body {
    box-sizing: border-box;
    background-color: rgb(223, 1, 1);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .wms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .north-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mrms-body {
    box-sizing: border-box;
    background-color: rgb(0, 171, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mms-body {
    box-sizing: border-box;
    background-color: green;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .south-body {
    box-sizing: border-box;
    background-color: rgb(120, 120, 120);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .smms-body {
    box-sizing: border-box;
    background-color: rgb(198, 0, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .ctms-title-container {
    display: flex;
    color: rgb(64, 0, 128);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 223, 255);
  }

  .hfms-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .sms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .wms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .hms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .north-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .mrms-title-container {
    display: flex;
    color: rgb(0, 160, 27);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 220);
  }

  .mms-title-container {
    display: flex;
    color: green;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 226);
  }

  .south-title-container {
    display: flex;
    color: black;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
  }

  .smms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .title-logo {
    display: flex;
    margin-right: 1rem;
  }

  .title-logo-image {
    width: 100px;
    margin: auto;
  }

  .title-words-container {
    display: flex;
    justify-content: center;
  }

  .title-words {
    font-size: 3.5rem;
  }

  .ctms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(74, 3, 168);
  }

  .hfms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .sms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(223, 1, 1);
  }

  .wms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .hms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .north-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .mrms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 171, 0);
  }

  .mms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: green;
  }

  .south-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(120, 120, 120);
  }

  .smms-team-container {
    display: flex;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(198, 0, 0);
  }

  .team-box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    background-color: white;
    font-family: bungee;
    border: 5px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
    margin-right: 3em;
  }

  .team-title {
    font-family: bungee;

    justify-content: center;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
  }

  .team-links {
    display: flex;
    flex-direction: column;
  }

  .ctms-varsity-links,
  .ctms-jv-links {
    color: rgb(140, 0, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hfms-varsity-links,
  .hfms-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .sms-varsity-links,
  .sms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .wms-varsity-links,
  .wms-jv-links {
    color: rgb(246, 111, 0);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hms-varsity-links,
  .hms-jv-links {
    color: rgb(182, 170, 58);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .north-varsity-links,
  .north-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mrms-varsity-links,
  .mrms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mms-varsity-links,
  .mms-jv-links {
    color: rgb(239, 27, 27);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .south-varsity-links,
  .south-jv-links {
    color: rgb(163, 163, 163);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .smms-varsity-links,
  .smms-jv-links {
    color: navy;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }

  .schedule-link,
  .ranking-link {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 1.3rem;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .schedule-link:hover,
  .ranking-link:hover {
    background-color: rgb(56 181 255);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .ctms-body {
    box-sizing: border-box;
    background-color: rgb(74, 3, 168);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hfms-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .sms-body {
    box-sizing: border-box;
    background-color: rgb(223, 1, 1);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .wms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .north-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mrms-body {
    box-sizing: border-box;
    background-color: rgb(0, 171, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mms-body {
    box-sizing: border-box;
    background-color: green;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .south-body {
    box-sizing: border-box;
    background-color: rgb(120, 120, 120);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .smms-body {
    box-sizing: border-box;
    background-color: rgb(198, 0, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .ctms-title-container {
    display: flex;
    color: rgb(64, 0, 128);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 223, 255);
  }

  .hfms-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .sms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .wms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .hms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .north-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .mrms-title-container {
    display: flex;
    color: rgb(0, 160, 27);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 220);
  }

  .mms-title-container {
    display: flex;
    color: green;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 226);
  }

  .south-title-container {
    display: flex;
    color: black;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
  }

  .smms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .title-logo {
    display: flex;
    margin-right: 1rem;
  }

  .title-logo-image {
    width: 100px;
    margin: auto;
  }

  .title-words-container {
    display: flex;
    justify-content: center;
  }

  .title-words {
    font-size: 2.7rem;
  }

  .ctms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(74, 3, 168);
  }

  .hfms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .sms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(223, 1, 1);
  }

  .wms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .hms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .north-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .mrms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 171, 0);
  }

  .mms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: green;
  }

  .south-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(120, 120, 120);
  }

  .smms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(198, 0, 0);
  }

  .team-box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    background-color: white;
    font-family: bungee;
    border: 5px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
  }

  .team-title {
    font-family: bungee;

    justify-content: center;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
  }

  .team-links {
    display: flex;
    flex-direction: column;
  }

  .ctms-varsity-links,
  .ctms-jv-links {
    color: rgb(140, 0, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hfms-varsity-links,
  .hfms-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .sms-varsity-links,
  .sms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .wms-varsity-links,
  .wms-jv-links {
    color: rgb(246, 111, 0);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hms-varsity-links,
  .hms-jv-links {
    color: rgb(182, 170, 58);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .north-varsity-links,
  .north-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mrms-varsity-links,
  .mrms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mms-varsity-links,
  .mms-jv-links {
    color: rgb(239, 27, 27);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .south-varsity-links,
  .south-jv-links {
    color: rgb(163, 163, 163);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .smms-varsity-links,
  .smms-jv-links {
    color: navy;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }

  .schedule-link,
  .ranking-link {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 1.3rem;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .schedule-link:hover,
  .ranking-link:hover {
    background-color: rgb(56 181 255);
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ctms-body {
    box-sizing: border-box;
    background-color: rgb(74, 3, 168);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hfms-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .sms-body {
    box-sizing: border-box;
    background-color: rgb(223, 1, 1);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .wms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .north-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mrms-body {
    box-sizing: border-box;
    background-color: rgb(0, 171, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mms-body {
    box-sizing: border-box;
    background-color: green;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .south-body {
    box-sizing: border-box;
    background-color: rgb(120, 120, 120);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .smms-body {
    box-sizing: border-box;
    background-color: rgb(198, 0, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .ctms-title-container {
    display: flex;
    color: rgb(64, 0, 128);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    background-color: rgb(220, 223, 255);
  }

  .hfms-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .sms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .wms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .hms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .north-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .mrms-title-container {
    display: flex;
    color: rgb(0, 160, 27);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 220);
  }

  .mms-title-container {
    display: flex;
    color: green;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 226);
  }

  .south-title-container {
    display: flex;
    color: black;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
  }

  .smms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .title-logo {
    display: flex;
    flex: 1;
  }

  .title-logo-image {
    width: 100px;
    margin: auto;
  }

  .title-words-container {
    display: flex;
    flex: 3;

    justify-content: center;
  }

  .title-words {
    font-size: 2.5rem;
  }

  .ctms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(74, 3, 168);
  }

  .hfms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .sms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(223, 1, 1);
  }

  .wms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .hms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .north-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .mrms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 171, 0);
  }

  .mms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: green;
  }

  .south-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(120, 120, 120);
  }

  .smms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(198, 0, 0);
  }

  .team-box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    background-color: white;
    font-family: bungee;
    border: 5px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
  }

  .team-title {
    font-family: bungee;

    justify-content: center;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
  }

  .team-links {
    display: flex;
    flex-direction: column;
  }

  .ctms-varsity-links,
  .ctms-jv-links {
    color: rgb(140, 0, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hfms-varsity-links,
  .hfms-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .sms-varsity-links,
  .sms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .wms-varsity-links,
  .wms-jv-links {
    color: rgb(246, 111, 0);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hms-varsity-links,
  .hms-jv-links {
    color: rgb(182, 170, 58);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .north-varsity-links,
  .north-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mrms-varsity-links,
  .mrms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mms-varsity-links,
  .mms-jv-links {
    color: rgb(239, 27, 27);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .south-varsity-links,
  .south-jv-links {
    color: rgb(163, 163, 163);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .smms-varsity-links,
  .smms-jv-links {
    color: navy;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }

  .schedule-link,
  .ranking-link {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 1.3rem;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .schedule-link:hover,
  .ranking-link:hover {
    background-color: rgb(56 181 255);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .ctms-body {
    box-sizing: border-box;
    background-color: rgb(74, 3, 168);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hfms-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .sms-body {
    box-sizing: border-box;
    background-color: rgb(223, 1, 1);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .wms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .north-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mrms-body {
    box-sizing: border-box;
    background-color: rgb(0, 171, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mms-body {
    box-sizing: border-box;
    background-color: green;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .south-body {
    box-sizing: border-box;
    background-color: rgb(120, 120, 120);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .smms-body {
    box-sizing: border-box;
    background-color: rgb(198, 0, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .ctms-title-container {
    display: flex;
    color: rgb(64, 0, 128);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    background-color: rgb(220, 223, 255);
  }

  .hfms-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .sms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .wms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .hms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .north-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .mrms-title-container {
    display: flex;
    color: rgb(0, 160, 27);
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 220);
  }

  .mms-title-container {
    display: flex;
    color: green;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 226);
  }

  .south-title-container {
    display: flex;
    color: black;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
  }

  .smms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .title-logo {
    display: flex;
    flex: 1;
  }

  .title-logo-image {
    width: 100px;
    margin: auto;
  }

  .title-words-container {
    display: flex;
    flex: 3;

    justify-content: center;
  }

  .title-words {
    font-size: 2.2rem;
  }

  .ctms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(74, 3, 168);
  }

  .hfms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .sms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(223, 1, 1);
  }

  .wms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .hms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .north-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .mrms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 171, 0);
  }

  .mms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: green;
  }

  .south-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(120, 120, 120);
  }

  .smms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(198, 0, 0);
  }

  .team-box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    background-color: white;
    font-family: bungee;
    border: 5px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
  }

  .team-title {
    font-family: bungee;

    justify-content: center;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
  }

  .team-links {
    display: flex;
    flex-direction: column;
  }

  .ctms-varsity-links,
  .ctms-jv-links {
    color: rgb(140, 0, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hfms-varsity-links,
  .hfms-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .sms-varsity-links,
  .sms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .wms-varsity-links,
  .wms-jv-links {
    color: rgb(246, 111, 0);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hms-varsity-links,
  .hms-jv-links {
    color: rgb(182, 170, 58);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .north-varsity-links,
  .north-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mrms-varsity-links,
  .mrms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mms-varsity-links,
  .mms-jv-links {
    color: rgb(239, 27, 27);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .south-varsity-links,
  .south-jv-links {
    color: rgb(163, 163, 163);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .smms-varsity-links,
  .smms-jv-links {
    color: navy;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }

  .schedule-link,
  .ranking-link {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 1.3rem;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .schedule-link:hover,
  .ranking-link:hover {
    background-color: rgb(56 181 255);
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .ctms-body {
    box-sizing: border-box;
    background-color: rgb(74, 3, 168);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hfms-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .sms-body {
    box-sizing: border-box;
    background-color: rgb(223, 1, 1);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .wms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .hms-body {
    box-sizing: border-box;
    background-color: rgb(11, 1, 150);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .north-body {
    box-sizing: border-box;
    background-color: rgb(24, 8, 235);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mrms-body {
    box-sizing: border-box;
    background-color: rgb(0, 171, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .mms-body {
    box-sizing: border-box;
    background-color: green;
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .south-body {
    box-sizing: border-box;
    background-color: rgb(120, 120, 120);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .smms-body {
    box-sizing: border-box;
    background-color: rgb(198, 0, 0);
    font-family: Jost, sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .ctms-title-container {
    display: flex;
    color: rgb(64, 0, 128);
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    text-align: center;
    align-items: center;
    background-color: rgb(220, 223, 255);
  }

  .hfms-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .sms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .wms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .hms-title-container {
    display: flex;
    color: navy;
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .north-title-container {
    display: flex;
    color: rgb(0, 39, 212);
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 229, 255);
  }

  .mrms-title-container {
    display: flex;
    color: rgb(0, 160, 27);
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 220);
  }

  .mms-title-container {
    display: flex;
    color: green;
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 255, 226);
  }

  .south-title-container {
    display: flex;
    color: black;
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
  }

  .smms-title-container {
    display: flex;
    color: red;
    font-family: bungee;
    font-weight: 100;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 220);
  }

  .title-logo {
    display: flex;
    flex: 1;
  }

  .title-logo-image {
    width: 100px;
    margin: auto;
  }

  .title-words-container {
    display: flex;
    flex: 2;

    justify-content: center;
  }

  .title-words {
  }

  .ctms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(74, 3, 168);
  }

  .hfms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .sms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(223, 1, 1);
  }

  .wms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .hms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: navy;
  }

  .north-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 39, 212);
  }

  .mrms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(0, 171, 0);
  }

  .mms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: green;
  }

  .south-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(120, 120, 120);
  }

  .smms-team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5em;
    background-color: rgb(198, 0, 0);
  }

  .team-box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: white;
    font-family: bungee;
    border: 5px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
  }

  .team-title {
    font-family: bungee;

    justify-content: center;
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
  }

  .team-links {
    display: flex;
    flex-direction: column;
  }

  .ctms-varsity-links,
  .ctms-jv-links {
    color: rgb(140, 0, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hfms-varsity-links,
  .hfms-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .sms-varsity-links,
  .sms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .wms-varsity-links,
  .wms-jv-links {
    color: rgb(246, 111, 0);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .hms-varsity-links,
  .hms-jv-links {
    color: rgb(182, 170, 58);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .north-varsity-links,
  .north-jv-links {
    color: rgb(0, 110, 255);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mrms-varsity-links,
  .mrms-jv-links {
    color: rgb(255, 70, 70);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .mms-varsity-links,
  .mms-jv-links {
    color: rgb(239, 27, 27);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .south-varsity-links,
  .south-jv-links {
    color: rgb(163, 163, 163);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .smms-varsity-links,
  .smms-jv-links {
    color: navy;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }

  .schedule-link,
  .ranking-link {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 1.3rem;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .schedule-link:hover,
  .ranking-link:hover {
    background-color: rgb(56 181 255);
  }
}
