.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #008a97;
  border: 10px solid black;
  border-radius: 5px;
  padding: 30px;
  margin-top: 100px;
}

.schedule-box {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 220px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  border: 2px solid black;
  font-family: oswald;
  font-weight: 550;
}

.teams-section {
  display: flex;
  flex-direction: column;
  flex: 3;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-color: black;
  border-style: solid;
  font-size: 16px;
  padding-left: 8px;
}

.away-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-color: rgb(233, 229, 229);
  border-style: solid;
}

.away-score {
  flex: -1;
  justify-content: space-between;

  margin-right: 15px;
  font-size: 18px;
}
.home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.home-score {
  flex: -1;
  justify-content: space-between;

  margin-right: 15px;
  font-size: 18px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-size: 12px;
  margin-left: 5px;
}

.status {
  flex: -1;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 12px;
}
