.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #008a97;
  border: 10px solid black;
  border-radius: 5px;
  padding: 30px;
  margin-top: 100px;
}

.schedule-box {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 200px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  border: 2px solid black;
}

.teams-section {
  display: flex;
  flex-direction: column;

  flex: 3;
  background-color: gray;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-color: black;
  border-style: solid;
}

.away-section {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: lightblue;
}
.home-section {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: purple;
}

.info-section {
  display: flex;
  flex: 1;
}
