.container {
  width: 950px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: orange;
}

.schedule-box {
  width: 200px;
  height: 60px;
  background-color: aqua;
  margin: 10px;
}
